<section class="newsletter-instagram-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 mb-4">
        <div class="newsletter-wrap">
          <div class="title mb-4" data-aos="fade-down">
            {{ settings.newsletter }}
          </div>
          {% form 'customer'
            , class: 'newsletter-form' %}
            <input
              type="hidden"
              name="contact[tags]"
              value="newsletter">
            <div class="newsletter-frm">
              <div class="input-text">
                <input
                  class="form-control"
                  type="text"
                  value="{{ form.email }}"
                  name="contact[email]"
                  placeholder="Your email address"
                  required>
              </div>
              <div class="submit">
                <input
                  class="btn btn-gradient"
                  type="submit"
                  name="commit"
                  value="Subscribe">
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="Newsletter-success--{{ section.id }}"
                tabindex="-1"
                autofocus>
                {% render 'icon-success' -%}
                {{- 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {% endform %}
        </div>
      </div>
      <div class="col-12 col-md-8 offset-md-2">
        <div class="instagram-feed-wrap">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                  {% comment %} <img class="img-fluid" src="images/instagram-feed-img1.jpg" alt=""> {% endcomment %}
                <img
                  class="img-fluid"
                  src="{{ 'instagram-feed-img1.jpg' | asset_url }}"
                  alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                  {% comment %} <img class="img-fluid" src="images/instagram-feed-img2.jpg" alt=""> {% endcomment %}
                <img
                  class="img-fluid"
                  src="{{ 'instagram-feed-img2.jpg' | asset_url }}"
                  alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                  {% comment %} <img class="img-fluid" src="images/instagram-feed-img3.jpg" alt=""> {% endcomment %}
                <img
                  class="img-fluid"
                  src="{{ 'instagram-feed-img3.jpg' | asset_url }}"
                  alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                  {% comment %} <img class="img-fluid" src="images/instagram-feed-img4.jpg" alt=""> {% endcomment %}
                <img
                  class="img-fluid"
                  src="{{ 'instagram-feed-img4.jpg' | asset_url }}"
                  alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                  {% comment %} <img class="img-fluid" src="images/instagram-feed-img5.jpg" alt=""> {% endcomment %}
                <img
                  class="img-fluid"
                  src="{{ 'instagram-feed-img5.jpg' | asset_url }}"
                  alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                  {% comment %} <img class="img-fluid" src="images/instagram-feed-img6.jpg" alt=""> {% endcomment %}
                <img
                  class="img-fluid"
                  src="{{ 'instagram-feed-img6.jpg' | asset_url }}"
                  alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg p-0">
              <div class="instagram-list">
                  {% comment %} <img class="img-fluid" src="images/instagram-feed-img7.jpg" alt=""> {% endcomment %}
                <img
                  class="img-fluid"
                  src="{{ 'instagram-feed-img7.jpg' | asset_url }}"
                  alt="">
                <div class="instagram-hover">
                  <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="footer-inner-wrap">
          <h3>PRODUCTS</h3>
          <div class="footer-menu">
            <ul>
              {% for link in linklists['products'].links %}
                <li class="nav-item active">
                  <a href="{{ link.url }}?view=custom">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="footer-inner-wrap">
          <h3>Help</h3>
          <div class="footer-menu">
            <ul>
              {% for link in linklists['help'].links %}
                <li class="nav-item active">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="footer-inner-wrap">
          <h3>Link</h3>
          <div class="footer-menu">
            <ul>
              {% for link in linklists['main-menu'].links %}
                <li class="nav-item active">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="footer-inner-wrap">
          <h3>Contact Us</h3>
          <div class="contact-det-list">
            <span class="icon">
              <i class="fa-solid fa-phone-volume"></i>
            </span>
            <div class="content">
              <p>
                <a href="tel:{{ settings.footer_phone }}">{{ settings.footer_phone }}</a>
              </p>
            </div>
          </div>
          <div class="contact-det-list">
            <span class="icon">
              <i class="fa-regular fa-envelope"></i>
            </span>
            <div class="content">
              <p>{{ settings.footer_address }}</p>
            </div>
          </div>

          <div class="footer-social-wrap">
            <h4>Follow us</h4>
            <ul class="social-icon">
              <li>
                <a href="{{ settings.footer_fb_link }}">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="{{ settings.footer_instagram_link }}">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="{{ settings.footer_twitter_link }}">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="{{ settings.footer_linkedin_link }}">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="footer-copright">
          <p>{{ settings.footer_copyright }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="{{ 'popper.min.js' | asset_url }}"></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
<script src="{{ 'slick.min.js' | asset_url }}"></script>
<script src="{{ 'aos.js' | asset_url }}"></script>
<script src="{{ 'external.js' | asset_url }}"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>


<script>
      var phoneInput = document.getElementById("phone");
      var errorSpan = document.querySelector(".error");
  
      phoneInput.addEventListener("input", function() {
        if (phoneInput.validity.patternMismatch) {
          errorSpan.style.display = "inline";
        } else {
          errorSpan.style.display = "none";
        }
      });

      var emailInput = document.getElementById("email");
      var errorSpan1 = document.querySelector(".error1");

      emailInput.addEventListener("input", function() {
        if (emailInput.validity.typeMismatch) {
          errorSpan1.style.display = "inline";
        } else {
          errorSpan1.style.display = "none";
        }
      });

      var namenput = document.getElementById("name");
      var errorSpan2 = document.querySelector(".error2");

      namenput.addEventListener("input", function() {
        if (namenput.validity.patternMismatch) {
          errorSpan2.style.display = "inline";
        } else {
          errorSpan2.style.display = "none";
        }
      });
</script>

<script>
  $(document).ready(function() {
    // Attach change event to the variant select
    $('#variant-select').on('change', function() {
      //alert('ok');
      // Get the selected variant
      var selectedVariant = $(this).find(':selected');
      
      // Update the inventory quantity in the span
      $('#pcs').text(selectedVariant.data('inventory'));
      $('#price').text(selectedVariant.data('price'));
    });
  });
</script></body></html>