<!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Last Minute Gifts</title>
        <!-- Bootstrap -->
        {% comment %} <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon"> {% endcomment %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: 'master' }}" type="image/x-icon">
    
        {% comment %} <link href="css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
        <link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}">
        <!-- fontawesome -->
        {% comment %} <link href="css/all.min.css" rel="stylesheet" media="all"> {% endcomment %}
        <link rel="stylesheet" href="{{ 'all.min.css' | asset_url }}">
        <!-- fontawesome -->
        <link
          rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
        >
    
        <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}">
        <link rel="stylesheet" href="{{ 'aos.css' | asset_url }}">
        <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
        <link rel="stylesheet" href="{{ 'responsive.css' | asset_url }}">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      </head>
    
      <body>
        <header class="header-wrapper {% if page_title != blank %} inner-header {% endif %}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="logo-wrap">
                    <a class="navbar-brand" href="/">
                      {% comment %} <img class="img-fluid" src="images/logo.png" alt=""> {% endcomment %}
                      
                        <img src="{{ settings.logo | img_url: 'master' }}" alt="{{ shop.name }}">
                  
                    </a>
                  </div>
    
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        {% for link in linklists['main-menu'].links %}
                            <li class="nav-item {% if link.url == request.path %}active{% endif %}">
                                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                          {% endfor %}                     
                    </ul>
                  </div>
    
                  <div class="my-ac-wrap">
                    <ul>
                      <li class="hed-search-wrap">
                        <div class="hed-search">
                          <div class="form-search">
                            <form action="/search" method="get" role="search">
                                {% comment %} <input type="search" name="q" id="search" placeholder="Search..." />
                                <button type="submit">Search</button> {% endcomment %}
                                <input class="search-input" type="search" name="q" id="search" placeholder="Search">
                                <button class="search-btn" type="submit"><i class="las la-search"></i></button>
                            </form>
                           
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="user-ac">
                            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
                                <img class="img-fluid" src="{{ 'user-icon.png' | asset_url }}" alt="">
                                <span class="visually-hidden">
                                  {%- liquid
                                    if customer
                                      echo 'customer.account_fallback' | t
                                    else
                                      echo 'customer.log_in' | t
                                    endif
                                  -%}
                                </span>
                              </a>
                        </div>
                      </li>
                      <li style="display: none;">
                        <div class="hed-wishlist">
                          <a href="/apps/wishlist/">
                            {% comment %} <img class="img-fluid" src="images/wishlist-icon.png" alt=""> {% endcomment %}
                            <img class="img-fluid" src="{{ 'wishlist-icon.png' | asset_url }}" alt="">
                            {% comment %} <span class="count"> 2 </span> {% endcomment %}
                          </a>
                        </div>                        
                      </li>
                      <li>
                        <div class="cart">
                          {% comment %} <a href="#">
                            {% comment %} <img class="img-fluid" src="images/cart-icon.png" alt=""> {% endcomment %}
                            <img class="img-fluid" src="{{ 'cart-icon.png' | asset_url }}" alt="">
                            <span class="count"> 2 </span>
                          </a> {% endcomment %}

                          <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                            <img class="img-fluid" src="{{ 'cart-icon.png' | asset_url }}" alt="">
                            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                            {%- if cart != empty -%}
                              <span class="count">
                                {%- if cart.item_count < 100 -%}
                                  <span aria-hidden="true">{{ cart.item_count }}</span>
                                {%- endif -%}
                                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                            </span>
                            {%- endif -%}
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="fa fa-bars"></span>
                  </button>
                </nav>
              </div>
            </div>
          </div>
        </header>
        <div class="skinny-header">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <p>{{ settings.banner_heading }}</p>
              </div>
            </div>
          </div>
        </div>